{{if .Config.Web.Use}}

package config

import "github.com/spf13/viper"

var ApplicationConfig = new(Application)

type Application struct {
	ReadTimeout    int
	WriteTimeout   int
	Mode           string
	Name           string
	Host           string
	Port           string
	CallBackUrl    string
	CorpHashXORKey string
}

func InitApplication(cfg *viper.Viper) *Application {
	return &Application{
		ReadTimeout:  cfg.GetInt("readTimeout"),
		WriteTimeout: cfg.GetInt("writeTimeout"),
		Host:         cfg.GetString("host"),
		Port:         portDefault(cfg),
		Name:         cfg.GetString("name"),
		Mode:         cfg.GetString("mode"),
	}
}

func portDefault(cfg *viper.Viper) string {
	if cfg.GetString("port") == "" {
		return "5000"
	}
	return cfg.GetString("port")
}

{{- end}}