{{if .Config.ORM.Use}}
package config

import "github.com/spf13/viper"

type Database struct {
	DbType   string
	Host     string
	Port     int
	Name     string
	Username string
	Password string
}

func InitMasterDatabase(cfg *viper.Viper) *Database {
	return &Database{
		DbType:   cfg.GetString("dbType"),
		Host:     cfg.GetString("host"),
		Port:     cfg.GetInt("port"),
		Name:     cfg.GetString("name"),
		Username: cfg.GetString("username"),
		Password: cfg.GetString("password"),
	}
}

func InitReplicaDatabase(cfg *viper.Viper) *Database {
	return &Database{
		DbType:   cfg.GetString("dbType"),
		Host:     cfg.GetString("host"),
		Port:     cfg.GetInt("port"),
		Name:     cfg.GetString("name"),
		Username: cfg.GetString("username"),
		Password: cfg.GetString("password"),
	}
}

var MasterDatabaseConfig = new(Database)
var ReplicaDatabaseConfig = new(Database)
{{- end}}