{{if .Config.Web.Use}}
package serve

import (
	"context"
	"net/http"
	"os"
	"os/signal"
	"time"

	"{{.Config.Web.Frame}}"
	"github.com/spf13/cobra"
	"{{.ProjectModule}}/config"
	"{{.ProjectModule}}/internal/middleware"
	"{{.ProjectModule}}/internal/router"
	"{{.ProjectModule}}/pkg"
	{{if or .Config.ORM.Use .Config.Redis.Use}}
	"{{.ProjectModule}}/database"
	{{- end}}
	logger "{{.Config.Log.Logger}}"
)

var ServeCmd = &cobra.Command{
	Use: "serve",
	PreRun: func(cmd *cobra.Command, args []string) {
		// set up config
		config.Setup(cfgFile)
		{{if .Config.ORM.Use}}
		// set up ORM
		database.ORMSetup()
		{{- end}}
		{{if .Config.Redis.Use}}
		// set up redis
		database.RedisSetup()
		{{- end}}
	},
	Run: func(cmd *cobra.Command, args []string) {
		run()
	},
}

var cfgFile string

func init() {
	ServeCmd.PersistentFlags().StringVarP(&cfgFile, "config", "c", "./config/settings.yaml", "sepecify config file path")
}

{{if eq .Config.Web.Frame "github.com/gin-gonic/gin"}}
func run() {
	switch config.ApplicationConfig.Mode {
	case pkg.ModeDev:
		gin.SetMode(gin.DebugMode)
		logger.Infof("now in mode %s\n", pkg.ModeDev)
	case pkg.ModeTest:
		gin.SetMode(gin.TestMode)
		logger.Infof("now in mode %s\n", pkg.ModeTest)
	default:
		gin.SetMode(gin.ReleaseMode)
		logger.Infof("now in mode %s\n", pkg.ModeProd)
	}

	r := gin.New()
	middleware.InitMiddleWare(r)
	router.InitRouter(r)

	srv := http.Server{
		Addr:         config.ApplicationConfig.Host + ":" + config.ApplicationConfig.Port,
		Handler:      r,
		ReadTimeout:  time.Duration(config.ApplicationConfig.ReadTimeout) * time.Second,
		WriteTimeout: time.Duration(config.ApplicationConfig.WriteTimeout) * time.Second,
	}

	go func() {
		if err := srv.ListenAndServe(); err != nil {
			logger.Errorf("Listen: %s\n", err)
		}
	}()

	logger.Infof("%s Server Run http://%s:%s/ \r\n",
		time.Now().String(),
		config.ApplicationConfig.Host,
		config.ApplicationConfig.Port,
	)

	logger.Infof("%s Enter Control + C Shutdown Server \r\n", time.Now().String())

	// below codes are used for graceful shutdown
	quit := make(chan os.Signal, 1)
	signal.Notify(quit, os.Interrupt)
	<-quit
	logger.Infof("%s server is shutting down...", time.Now().String())
	ctx, cancel := context.WithTimeout(context.Background(), 5*time.Second)
	defer cancel()
	if err := srv.Shutdown(ctx); err != nil {
		logger.Fatalf("server down error: ", err)
	}
	logger.Info("server have been down")
}
{{- end}}

{{- end}}