package cmd

import (
	"os"

	"github.com/spf13/cobra"
	"{{.ProjectPath}}/cmd/serve"
)

var rootCmd = &cobra.Command{
	Use:   "{{.ProjectName}}",
	Short: "",
	Long:  "",
}

func init() {
	{{with .Config.Web.Use}} rootCmd.AddCommand(serve.ServeCmd) {{end}}
}

func Execute() {
	if err := rootCmd.Execute(); err != nil {
		os.Exit(1)
	}
}
